[submodule "vim/pack/vim-javascript/start/vim-javascript"]
	path = vim/pack/vim-javascript/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/pack/vim-jsx-pretty/start/vim-jsx-pretty"]
	path = vim/pack/vim-jsx-pretty/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "vim/pack/typescript-vim/start/typescript-vim"]
	path = vim/pack/typescript-vim/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/pack/vim-jsx-typescript/start/vim-jsx-typescript"]
	path = vim/pack/vim-jsx-typescript/start/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript.git
[submodule "vim/pack/ale/start/ale"]
	path = vim/pack/ale/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/nerdtree/start/nerdtree"]
	path = vim/pack/nerdtree/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/auto-pairs/start/auto-pairs"]
	path = vim/pack/auto-pairs/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/pack/vim-surround/start/vim-surround"]
	path = vim/pack/vim-surround/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/vim-gitgutter/start/vim-gitgutter"]
	path = vim/pack/vim-gitgutter/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
