[submodule "vim/pack/vim-javascript/start/vim-javascript"]
	path = vim/pack/vim-javascript/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/pack/vim-jsx-pretty/start/vim-jsx-pretty"]
	path = vim/pack/vim-jsx-pretty/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "vim/pack/typescript-vim/start/typescript-vim"]
	path = vim/pack/typescript-vim/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/pack/vim-jsx-typescript/start/vim-jsx-typescript"]
	path = vim/pack/vim-jsx-typescript/start/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript.git
